body {
    font-family: 'Times New Roman', Times, serif, Georgia, Times, 'Times New Roman', serif;
    background-color: rgb(220, 205, 145);
    font-weight: bolder;
  }
  
  h1{
    background-color: #060d12;
    padding: auto;
    color: #006699;
    font-size: 2em;
    font-weight: bold;
    border: 3px solid gold;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
  }

h3{
  color: black;
  font-weight: 800;
}
  
li{
  list-style-type: square;
}

  p {
    font-size: 1.2em;
    line-height: 1.5;
    margin-bottom: 1.5em;
  }
  
  a {
    color: #060d12;
    text-decoration: none;
  }

  a:hover{
    color: aqua;
    background-color: chartreuse;
  }